.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bold {
  font-weight: bold;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  right: 350px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
to {
  display: none;
  width: 0;
  height: 0;
}
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin-top: 10px;
margin-right: 100px;
padding-right: 70px;
float: right;
border: 1px solid #888;
}

.search_div{
  margin-left: 10%;
}

.search_input{
  width: 280px;
}

.sort_div {
  float: center;
}

.thick_line {
  height: 8px;
  background: #675B5B;
}

.cart_heading {
  font-size:x-large;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.cart_price {
  font-size:x-large;
  float: right;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.no_match{
  font-size: x-large;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}