.cartRollDiv{
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
.image_cart {
    width: 180px;
    margin: 4px;
    border: 2px solid rgb(0, 0, 0);
  }
  
.roll-title_cart {
  font-size: 13px;
  word-wrap: normal;
  margin: 4px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.glazing_cart {
  Font-size: 13px;
  margin: 4px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.pack-size_cart {
  font-size: 13px;
  padding-right: 10px;
  margin: 4px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.price_cart {
  font-size: 13px;
  font-weight: bold;
  margin: 4px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.remove {
  font-size: 13px;
  margin-top: 6px;
  text-decoration: underline;
}