.navigation {
    flex-grow: 1;
    justify-self: flex-end;
    justify-content: right;
    display: flex;
    margin-right: 100px;
  }
  
  .product {
    margin-left: 40px;
  }

  .product-header {
    font-size: x-large;
  }
  
  .product-header:hover {
    background-color: #e2ed0a;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cart {
    margin-left: 40px;
    display: inline;
  }

.cart-header {
  font-size: x-large;
}  
  .cart-header:hover {
    background-color: #e2ed0a;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
.cart-items {
    float: right;
    margin-right: 100px;
}