.image {
    width: 250px;
    border: 5px solid rgb(0, 0, 0);
  }
  
  .roll-title {
    font-size: 20px;
    font-weight: bold;
    word-wrap: normal;
    width: 250px;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }
  
  .glazing-section {
    display: flex;
    
  }
  
  .glazing {
    font-size:large;
    padding-right: 10px;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }
  
  .dropdown {
    flex-grow: 1;
    padding-top: 0px;
    height: fit-content;
    font-size:large;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    justify-self: center;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
  }
  
  .pack-size-section {
    display: flex;
    justify-content: space-between;
  }
  
  .pack-size {
    font-size:large;
    padding-right: 10px;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }
  
  .sizes-1 {
    background-color: lightgrey;
  }
  .btn {
    justify-self: center;
    width: 25px;
    font-size:large;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    border: 3px solid rgb(0, 0, 0);
  }
  
  .price-cart-section {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    font-size:large;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }
  
  .addtocart {
    padding: 10px;
    font-size:large;
    font-weight: bold;
    text-align: center;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    border: 3px solid rgb(0, 0, 0);
  }
  
  .addtocart:hover {
    background-color: #e2ed0a;
    border-radius: 5px;
    cursor: pointer;
  }
  