.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  width: 1200px;
}
.header-section {
  display: flex;
  width: 100%;
  align-items: right;
}
.vert-header-section {
  justify-self: flex-end;
  flex-grow: 1;
}

.horizontal-line {
  background-color:#000000; 
  height:2px; 
  width:100%;
}

.tagline {
  padding-top: 40px;
  font-size:xx-large;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.row {
  display: flex;
  margin: 10%;
  justify-content: space-between;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
to {
  display: none;
  width: 0;
  height: 0;
}
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin-top: 10px;
margin-right: 100px;
padding-right: 70px;
float: right;
border: 1px solid #888;
width: 20%;
}

.cart-items {
  float: right;
  margin-right: 100px;
}
